<nav class="navbar">
  <div class="navbar-left">
    <div class="logo"><a href="/">WorkHere</a></div>
    <ul class="nav-links">
      <a href="/freelancers" class="Find-work">Find talent</a>
      <a href="/jobs" class="Find-work">Find work</a>
      <a href="/blog" class="Why-Upwork">Why WorkHere</a>
    </ul>
  </div>

  <div class="navbar-center">
    <div class="search-container">
      <span class="search-icon"><i class="fas fa-search"></i></span>
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="navbar-right">
    <a href="/signin" class="login">Log in</a>
    <a href="/signin" class="signup">Register</a>
  </div>
</nav>
